###Dicionário em Python

In [1]:
#Estrutura:
#dicionário = {chave:valor, chave:valor, chave:valor, ...}

Vantagens e desvantagens:
- Não devem ser usados para pegar itens em uma determinada ordem
- Podem ter valores heterogêneos (vários tipos de valores dentro de um mesmo dicionário: inteiros, strings, listas, etc)
- Chaves são únicas obrigatoriamentes
- Mais intuitivos de trabalhar

In [2]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [3]:
#Qual foi o item mais vendido nas categorias 'livros' e 'lazer'?
livro = mais_vendidos['livros']
lazer = mais_vendidos['lazer']
print(livro)
print(lazer)

o alquimista
prancha surf

In [4]:
#Quanto foi vendido de 'notebook asus' e de 'ipad'?
qtde_notebook_asus = vendas_tecnologia['notebook asus']
qtde_ipad = vendas_tecnologia['ipad']
print(qtde_notebook_asus)
print(qtde_ipad)

2450
1000

###Não confie na ordem dos dicionários, use as chaves

Python versões antigas X versões novas
- Dicionários eram 'sem ordem'. Atualmente tem ordem, mas o certo é usar as chaves
- 2 formas de pegar um valor:
    - dicionário(chave)
    - get(chave)

In [5]:
print(f'O livro mais vendido foi o {mais_vendidos['livros']}')

O livro mais vendido foi o o alquimista

In [6]:
vendas_tecnologia.get('notebook asus')

2450

In [7]:
print(f'Vendemos {vendas_tecnologia.get('ipad')} ipads')

Vendemos 1000 ipads

In [8]:
print(vendas_tecnologia.get('ipads'))

None

In [9]:
#print(vendas_tecnologia['ipads']) -> KeyError: 'ipads'

####Verificar se item está no dicionário:
- if
- get(chave) = None

In [10]:
#Se tentarmos procurar as vendas de 'copo' na lista de vendas tecnologia, o que acontece?
if 'copo' in vendas_tecnologia:
    print(vendas_tecnologia['copo'])
else:
    print('Copo não está dentro da lista de produtos de tecnologias')

Copo não está dentro da lista de produtos de tecnologias

In [11]:
if vendas_tecnologia.get('copo') == None:
    print('Copo não está dentro da lista de produtos de tecnologias')
else:
    print(vendas_tecnologia.get('copo'))

Copo não está dentro da lista de produtos de tecnologias

###Adicionar, remover e modificar itens no dicionário

#####Estrutura
- Adicinoar itens:
    - dicionario = {}
    - dicinoario[chave] = valor
    - outra opção:
    - dicionario.update({chave: valor, chave: valor})

In [12]:
lucro_1tri = {'janeiro': 100000,'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}

In [13]:
#Adicionando um item
print(lucro_1tri)
lucro_1tri['abril'] = 88000
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000}

In [14]:
#Adicinoando vários itens ou um dicionário a outro
lucro_1tri.update(lucro_2tri)
lucro_1tri

{'janeiro': 100000,
 'fevereiro': 120000,
 'março': 90000,
 'abril': 88000,
 'maio': 89000,
 'junho': 120000}

In [15]:
#Modificar itens:
#Da mesma forma que adicionamos um valor, caso essa chave já exista o item é apenas modificado
#dicionario{chave} = valor
#vamor modificar o lucro de fevereiro (lembrando: caso o itm não exista, ele vai criar o item no dicionário)

In [16]:
lucro_1tri['janeiro'] = 88000
lucro_1tri

{'janeiro': 88000,
 'fevereiro': 120000,
 'março': 90000,
 'abril': 88000,
 'maio': 89000,
 'junho': 120000}

In [17]:
#Remover itens:
#del dicionario{chave}
#ou então
#valor = dicionario.pop(chave)
#mas cuidado com:
#del dicionario (deleta o dicionário) é diferente de dicionario.clear()(deleta todos os itens do dicionário)

In [18]:
#remover o mês de junho
del lucro_1tri['junho']
print(lucro_1tri)

{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000}

In [19]:
lucro_janeiro = lucro_1tri.pop('janeiro')
print(lucro_1tri)
print(lucro_janeiro)

{'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000}
88000

###For nos dicionários

Estrutura:

In [20]:
#for chave in dicionario:
#   faça alguma coisa

In [21]:
#demonstrando o for
for chave in vendas_tecnologia:
    print(f'{chave}: {vendas_tecnologia[chave]} unidades')

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

In [22]:
#Qual o total de notebooks vendidos
total_notebooks = 0
for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebooks += vendas_tecnologia[chave]
        
print(total_notebooks)

20450

###Métodos úteis em dicionários

Itens() dos dcionários

Estrutura:
- itens_dicionario = dicionario.items() -> tranforma a chave e o valor de um dicionário em uma lista com tuplas contendo dois itens, onde o 1° item é a chave e o 2° item o valor

ou então

In [23]:
#for item in dicionario.items()
#   cada item do dicionario em formato de tupla

In [24]:
itens_dicionario = vendas_tecnologia.items()
itens_dicionario

dict_items([('iphone', 15000), ('samsung galaxy', 12000), ('tv samsung', 10000), ('ps5', 14300), ('tablet', 1720), ('ipad', 1000), ('tv philco', 2500), ('notebook hp', 1000), ('notebook dell', 17000), ('notebook asus', 2450)])

In [25]:
for item in vendas_tecnologia.items():
    print(item)

('iphone', 15000)
('samsung galaxy', 12000)
('tv samsung', 10000)
('ps5', 14300)
('tablet', 1720)
('ipad', 1000)
('tv philco', 2500)
('notebook hp', 1000)
('notebook dell', 17000)
('notebook asus', 2450)

In [26]:
for produto,qtde in vendas_tecnologia.items():
    print(f'{produto}: {qtde} unidades')

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

In [27]:
#Quais produtos venderam mais de 5000 unidades
for chave in vendas_tecnologia:
    if vendas_tecnologia[chave] > 5000:
        print(f'{chave}: {vendas_tecnologia[chave]} unidades')

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
notebook dell: 17000 unidades

In [28]:
for produto, qtde in vendas_tecnologia.items():
    if qtde > 5000:
        print(f'{produto}: {qtde} unidades')

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
notebook dell: 17000 unidades

###Listas importantes a partir do Diconário

Métodos importantes:
- keys() -> uma lista com todas as chaves dodicionário
- values() -> uma lista com todos os valores do dicionário

OBS: Se o dicionário for modificado, automaticamente esses variáveis são modificadas, mesmo tendo sido craidas abteriormente

In [29]:
chaves = vendas_tecnologia.keys()
chaves

dict_keys(['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus'])

In [30]:
valores = vendas_tecnologia.values()
valores

dict_values([15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450])

In [31]:
vendas_tecnologia['liraphone'] = 10
print(chaves)
print(valores)
print(list(chaves))
print(list(valores))

dict_keys(['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus', 'liraphone'])
dict_values([15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450, 10])
['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus', 'liraphone']
[15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450, 10]

In [32]:
#O for vai funcionar normal em dict_listas, porque não deixa de ser uma lista de itens que pode ser percorrida (iterable),mas o que aprendemos de lista não necessariamente se aplica a essas dict_listas

#Para transformar as dict_listas em listas normais, usamos a função list:
#lista_chaaves = list(dicionario.keys())

#Pode ser útil caso a gente queira fazer alguma organização das chaves. Ex: imprimir uma lista com os valores em ordem alfabética de forma que todas as tvs fiquem juntas, todos os todos os iphone/ipad também e assim vai:

In [33]:
for chave in vendas_tecnologia:
    print(f'{chave}: {vendas_tecnologia[chave]} unidades')

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades
liraphone: 10 unidades

In [34]:
chaves = vendas_tecnologia.keys()
lista_chaves = list(chaves)
lista_chaves

['iphone',
 'samsung galaxy',
 'tv samsung',
 'ps5',
 'tablet',
 'ipad',
 'tv philco',
 'notebook hp',
 'notebook dell',
 'notebook asus',
 'liraphone']

In [35]:
lista_chaves.sort()
lista_chaves

['ipad',
 'iphone',
 'liraphone',
 'notebook asus',
 'notebook dell',
 'notebook hp',
 'ps5',
 'samsung galaxy',
 'tablet',
 'tv philco',
 'tv samsung']

In [36]:
for chave in lista_chaves:
    print(f'{chave}: {vendas_tecnologia[chave]}')

ipad: 1000
iphone: 15000
liraphone: 10
notebook asus: 2450
notebook dell: 17000
notebook hp: 1000
ps5: 14300
samsung galaxy: 12000
tablet: 1720
tv philco: 2500
tv samsung: 10000

###Transformar listas em dicionários e function zip

Estrutura:
    - Dicionário com valores padrões:

    dicionario = dict.fromkeys(lista_chaves, valor_padrao)

    - Dicnoário a partir de listas de tuplas:

    dicionario = dict(lista_tuplas)

    - Dicionário a partir de 2 listas:

    Passo 1: Transformar listas em lista de tuplas como o método zip

    Passo 2: Transformar em dicionário
    - lista_tuplas = zip(lista1, lista2)
    - dicionario = dict(lista_tuplas)

In [37]:
produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus']
vendas = [15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450]

In [38]:
dicionario = dict.fromkeys(produtos, 0)
dicionario

{'iphone': 0,
 'samsung galaxy': 0,
 'tv samsung': 0,
 'ps5': 0,
 'tablet': 0,
 'ipad': 0,
 'tv philco': 0,
 'notebook hp': 0,
 'notebook dell': 0,
 'notebook asus': 0}

In [39]:
lista_tuplas = zip(produtos, vendas) #zip -> junta listas
dicionario_vendas = dict(lista_tuplas)
print(dicionario_vendas)

{'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [40]:
#Quanto vendemos de ipad?
indice = produtos.index('ipad')
indice

5

In [41]:
vendas[indice]

1000

In [42]:
print(f'Vendemos {dicionario_vendas['ipad']} ipads')

Vendemos 1000 ipads