###Tuplas

- Estrutura:
    - tupla = (valor, valor, valor,...)

- Diferença
    -Parece uma lista, mas é imutável

- Vantagens
    - Mais eficiente (em termo de performance)
    - Protege a base de dados (por ser imutável)
    - Muito usado para dados heterogênios

In [8]:
#Criando tuplas
vendas = ('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

In [ ]:
#Acessando o valor de uma tupla
nome = vendas[0]
data_contratação = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]


nome, data_contratação, data_nascimento, salario, cargo = vendas #Mesma coisa que o que é feito acima

In [4]:
print(nome)
cargo

Lira

'Estagiário'

In [ ]:
#vendas[3] = 3000 -> 'tuple' object does not support item assignment

In [14]:
vendas_2 = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

for item in enumerate(vendas_2):
    i, venda = item
    print(i)
    print(venda)
    #print(item)
    #print(f'{funcionarios[i]} vendeu {venda} unidades')

0
1000
1
2000
2
300
3
300
4
150

###Aplicação de Tupla - lista de Tuplas

Estrutura:

Além de casos como o do enumerate, em que usamos uma função para transformar itens e tuplas porque isso ajuda o nosso código, temos também listas de tuplas como algo comum dentro do Python.

In [15]:
#lista = [
#    tupla1,
#    tupla2,
#    tupla3
#]

#ou seja

#lista = [
#    (valor1, valor2, valor3),
#    (valor4, valor5, valor6),
#    (valor7, valor8, valor9),
#]

In [1]:
#Exemplo
#Digamos que você está analisando as vendas do Banco de Dados de um e-commmerce. Em um determinado dia, você extraiu as vendas do Banco de Dados e elas vieram nesse formato:

vendas = [
        ('20/08/2020', 'iphone x', 'azul', '128gb', 350, 4000),
        ('20/08/2020', 'iphone x', 'prata', '128gb', 1500, 4000),
        ('20/08/2020', 'ipad', 'prata', '256gb', 127, 6000),
        ('20/08/2020', 'ipad', 'prata', '128gb', 981, 5000),
        ('21/08/2020', 'iphone x', 'azul', '128gb', 397, 4000),
        ('21/08/2020', 'iphone x', 'prata', '128gb', 1017, 4000),
        ('21/08/2020', 'ipad', 'prata', '256gb', 50, 6000),
        ('21/08/2020', 'ipad', 'prata', '128gb', 4000, 5000),
    ]

#Qual foi o faturamento de iphone no dia 20/08/2020?
#Qual foi o produto mais vendido (em unidades) no dia 21/08/2020?

In [2]:
faturamento = vendas[0][4] * vendas[0][5]
faturamento

1400000

In [3]:
data, produto, cor, capacidade, unidades,valor_unitario = vendas[0]
faturamento = unidades * valor_unitario
faturamento

1400000

In [8]:
faturamento = 0
for item in vendas:
    data, produto, cor, capacidade, unidades,valor_unitario = item
    if produto == 'iphone x' and data == '20/08/2020':
        faturamento += unidades * valor_unitario
print(f'O faturamento de IPhone x no dia 20/08/2020 foi de {faturamento:,}')

O faturamento de IPhone x no dia 20/08/2020 foi de 7,400,000

In [10]:
produto_mais_vendido = ''
qtde_mais_vendida = 0
for item in vendas:
    data, produto, cor, capacidade, unidades, valor_unitario = item
    if data == '21/08/2020':
        if unidades > qtde_mais_vendida:
            produto_mais_vendido = produto
            qtde_mais_vendida = unidades
            
print(f'Meu produto mais vendido no dia 21/08/2020 foi o {produto_mais_vendido} com {qtde_mais_vendida} unidades')

Meu produto mais vendido no dia 21/08/2020 foi o ipad com 4000 unidades