###Tuplas

- Estrutura:
    - tupla = (valor, valor, valor,...)

- Diferença
    -Parece uma lista, mas é imutável

- Vantagens
    - Mais eficiente (em termo de performance)
    - Protege a base de dados (por ser imutável)
    - Muito usado para dados heterogênios

In [8]:
#Criando tuplas
vendas = ('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

In [ ]:
#Acessando o valor de uma tupla
nome = vendas[0]
data_contratação = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]


nome, data_contratação, data_nascimento, salario, cargo = vendas #Mesma coisa que o que é feito acima

In [4]:
print(nome)
cargo

Lira

'Estagiário'

In [ ]:
#vendas[3] = 3000 -> 'tuple' object does not support item assignment

In [14]:
vendas_2 = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

for item in enumerate(vendas_2):
    i, venda = item
    print(i)
    print(venda)
    #print(item)
    #print(f'{funcionarios[i]} vendeu {venda} unidades')

0
1000
1
2000
2
300
3
300
4
150